#board {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#board-main {
	display: flex;
    justify-content: space-evenly;
    height: fit-content;
    width: 100%;
}

#board-number{
	font-size: 50px;
}

#lists {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 80vw;
    justify-content: space-evenly;
}

#lists > * {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 20vw;
    min-width: 300px;
    height: fit-content;
}

#buttons {
    margin-top: 10px;
    display: flex;
	flex-direction: column;
    height: fit-content;
    align-items: center;
}

#buttons > * {
    margin: 7.5px;
}

#home-btn {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #1f5c87 5%, #2c6a95 100%);
	background-color:#1f5c87;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}

#home-btn:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}

#home-btn:active {
	position:relative;
	top:1px;
}

#new-list-btn {
	box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	background-color:#74ad5a;
	border:1px solid #3b6e22;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
    text-shadow:0px 1px 0px #854629;
}
#new-list-btn:hover {
	background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	background-color:#68a54b;
}
#new-list-btn:active {
	position:relative;
	top:1px;
}

#delete-board-btn {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
    padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
#delete-board-btn:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
#delete-board-btn:active {
	position:relative;
	top:1px;
}